@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

.clr {
	height: 384px;
}

.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

.slider {
	height: 800px;
	background-image: url(/static/img/slider.jpg); 
	padding-left: 98px;
	padding-right: 211px;
	position: relative;
}

.logo {
	background-image: url(/static/img/logo.png);
	margin-top: 63px;
	width: 185px;
	height: 22px;
	float: left;
}

.menu {
	list-style-type: none;
	margin-top: 67px;
	float: right;
}
.menu li {
	float: left;
}
.menu a {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 13px;
}
.menu .active {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}
.menu a:hover {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}
.menu a:active {
	color: #8c8c8c;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.search {
	display: block;
	width: 23px;
	height: 23px;	
	background-image: url(/static/img/search.png);
	position: absolute;
	top: 63px;
	left: 1176px;
}
.basket {
	display: block;
	width: 23px;
	height: 23px;	
	background-image: url(/static/img/basket.png);
	position: absolute;
	top: 63px;
	left: 1210px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.text-slider {
	margin-top: 288px;
	position: absolute;
}

.text-slider p {
	color:  #6c6c6c;
	font-size: 14px;
	text-align: left;
	width: 458px;
	line-height: 24px;
}

.button-order {
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	border-radius: 22px;
	text-decoration: none;
	color:  #212121;
	font-size: 17px;
	font-weight: 700;
	line-height: 45px;
	margin-top: 32px; 
	letter-spacing: 3px;
}
.button-order:hover {
	box-shadow: none;
}
.button-order:active {
	box-shadow: none;
	margin-top: 35px;
}
.button-order img{
	padding-left: 22px;
}

.green {
	text-transform: uppercase;
	color:  #43a047;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 22px;
	line-height: 13px;
	letter-spacing: 1px;
}

.big {
	color:  #212121;
	font-size: 59px;
	line-height: 43px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 34px;
}

.navi {
	position: absolute;
	bottom: 22px;
	right: 618px;
	display: flex;
	width: 130px;
	height: 40px;
	justify-content: space-between;
	align-items: center;
}
.navi a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(33, 33, 33, 0.2);
	float: left;
	margin: 0px 5px;
}
.navi a:nth-child(2) {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #212121;
	float: left;
	margin: 0px;
}
.navi a:hover {
	width: 40px;
	height: 40px;
	background-color: #212121;
	margin: 0px;
}

.featured {
	padding-left: 98px;
	padding-right: 98px;
}
.featured-menu {
	margin-top: 120px;
	width: 300px;
	height: 49px;
	float: left;
}
.featured-menu a {
	color: #6c6c6c;
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	border-bottom: 1px solid #6c6c6c;
	padding-bottom: 10px;
	padding-right: 13px;
	padding-left: 9px;
}
.featured-menu .active {
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	color: #212121;
	border-bottom: 3px solid #212121;
	padding-bottom: 8px;
}
.featured-menu a:hover {
	font-size: 36px;
	font-weight: 700;
	color: #212121;
	border-bottom: 3px solid #212121;
	padding-bottom: 8px;
}
.featured-menu a:active {
	font-size: 36px;
	font-weight: 700;
	color: #6c6c6c;
	border-bottom: 3px solid #212121;
	padding-bottom: 8px;
}

.explore {
	text-transform: uppercase;
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	float: right;
	margin-top: 138px;
	letter-spacing: 3px;
	text-decoration: none;
}
.explore:hover {
	border-bottom: 3px solid #212121;
}
.explore:active {
	color: #6c6c6c;
	border-bottom: 3px solid #6c6c6c;
}

.tab-content {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}
.tab-content .block {
	height: 270px;
	width: 270px;
	position: relative;
}
.tab-content a .text {
	display: none;
	height: 268px;
	width: 268px;
	background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}
.tab-content a .text h4 {
	color:  #212121;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.tab-content a .text p {
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin: 15px 15px;
}
.tab-content a .text img {
	margin: 70px auto 0;
}
.tab-content a:hover .text {
	display: block;
}

.promo-content-1 {
	background-image: url(static/img/promo-img1.jpg);
	width: 683px;
	height: 683px;
	float: left;
}
.promo-content-2 {
	background-image: url(static/img/promo-img2.jpg);
	width: 683px;
	height: 683px;
	float: right;
}

.text-promo {
	width: 374px;
	padding-left: 52px;
	margin-top: 228px;
}
.text-promo p {
	color:  #6c6c6c;
	font-size: 14px;
	text-align: left;
	line-height: 24px;
}

.blue {
	text-transform: uppercase;
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 18px;
	line-height: 13px;
	letter-spacing: 1px;
}

.big-bold {
	color:  #212121;
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 24px;
	line-height: 36px;
}

.trending {
	padding-left: 83px;
	padding-right: 83px;
}
.title {
	height: 152px;
	margin-right: 15px;
}
.title h2 {
	float: left;
	margin-top: 118px;
	color:  #212121;
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	margin-left: 15px;

}

.trending-products {
	margin-top: 53px;
	
}
.trending-products .block a img {
	float: left;
}
.trending-products .block {
	float: left;
	margin: 15px;
	display: block;
	height: 370px;
	width: 370px;
	position: relative;
}
.trending-products a .text {
	display: none;
	height: 368px;
	width: 368px;
	background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}
.trending-products a .text h4 {
	color:  #212121;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.trending-products a .text p {
	color:  #6c6c6c;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 15px 15px;
}
.trending-products a .text img {
	float: none;
	margin-top: 80px;
}
.trending-products a:hover .text{
	display: block;
}

.hot-deal {
	margin-top: 105px;
	height: 800px;
	padding-left: 98px;
	background-image: url(static/img/slider-hotdeal.jpg);
	position: relative;
}
.text-hotDeal {
	width: 460px;
	margin-top: 287px;
	position: absolute;
}

.red {
	text-transform: uppercase;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
	line-height: 17px;
	margin-bottom: 22px;
}

.exclusive {
	padding-top: 120px;
	padding-left: 98px;
	padding-right: 98px;
}
.exclusive-big {
	height: 570px;
	width: 570px;	
	float: left;
	background-image: url(static/img/product-1-lg.jpg);
}
.exclusive-small {
	width: 570px;
	height: 570px;
	float: right;
}
.exclusive-small .block {
		height: 270px;
		width: 270px;
		position: relative;
		float: left;
}
.exclusive-small .block:nth-child(odd) {
		margin-right: 30px;
}
.exclusive-small .block:first-child, .exclusive-small .block:nth-child(2) {
		margin-bottom: 30px;
}
.exclusive-small a .text {
	display: none;
	height: 268px;
	width: 268px;
	background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}
.exclusive-small a .text h4 {
	color:  #212121;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.exclusive-small a .text p {
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	margin: 15px 15px;
}
.exclusive-small a .text img {
	margin: 70px auto 0;
}
.exclusive-small a:hover .text {
	display: block;
}

.text-exclusive {
	width: 332px;
	padding-left: 30px;
	padding-top: 186px;
}

.mobile {
	height: 516px;
	margin-top: 90px;
	background-image: url(/static/img/mobile-back.jpg);
	padding-left: 99px;
	position: relative;
}
.text-mobile {
	width: 450px;
	margin-top: 125px;
	position: absolute;
}

.grey {
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 16px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.big-mobile {
	color:  #212121;
	font-size: 59px;
	line-height: 67px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 26px;
}
.text-mobile a img {
	float: left;
	padding-right: 10px;
	margin-top: 33px;
}
.text-mobile p {
	font-size: 22px;
	color: #6c6c6c;
}

.footer {
	height: 384px;
	width: 1169px;
	background-color: #f7f7f7;
	padding-left: 99px;
	padding-right: 98px;
	margin: -384px auto 0;
	clear: both;
}
.footer form {
	position: relative;
}
.footer form a i {
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	z-index: 2;
	top: 10px;
    right: 50px;
    color: #6c6c6c;
}
.text-footer {
	margin-top: 120px;
	width: 221px;
	float: left;
	margin-right: 68px;
}
.text-footer:last-child {
	margin-right: 0;
}
.text-footer h3 {
	text-transform: uppercase; 
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 22px;
	letter-spacing: 2px;
}
.text-footer p {
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 20px;
}
.text-footer a {
	text-decoration: none;
	text-transform: uppercase;
	color:  #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}
.text-footer a:hover {
	border-bottom: 2px solid #212121;
}
.text-footer a:active {
	color: #6c6c6c;
	border-bottom: 2px solid #6c6c6c;
}

table {
	width: 100%;
}
td:first-child {
	width: 235px;
}

.text-footer:nth-child(2) {
	width: 422px;
}
.text-footer:nth-child(3) {
	width: 363px;
}
.text-footer input {
	border-width: 1px;
	border-color:  #d9dee1;
	border-style: solid;
	background-color:  #ffffff;
	width: 250px;
	height: 46px;
	outline: none;
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	padding-left: 19px;
	padding-right: 70px;
}
.text-footer input:focus {
	border-width: 1px;
	border-color:  #6c6c6c;
	border-style: solid;
}
.footer .small {
	text-transform: uppercase;
	float: left;
	color:  #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	margin-top: 35px;
}

.social {
	height: 28px;
	width: 121px;
	float: left;
	margin-left: 158px;
	margin-top: 30px;
}
.social1{
	background: url(/static/img/social-links.png);
	height: 28px;
	width: 28px;
	float: left;

}
.social2{
	background: url(/static/img/social-links.png);
	background-position: -34px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}
.social3{
	background: url(/static/img/social-links.png);
	background-position: -67px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}
.social4{
	background: url(/static/img/social-links.png);
	background-position: -101px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}

.footer .small:nth-child(4) {
	float: right;
}

.hero {
	background-color: #f5f5f5;
	height: 360px;
	padding-left: 98px;
	padding-right: 211px;
	position: relative;
}
.hero h1 {
	color:  #212121;
	font-size: 62px;
	font-weight: 100;
	text-align: left;
	margin-top: 142px;
	text-transform: uppercase;
	/*text-transform: capitalize;*/
}

.location {
	padding: 0px 97px;
}
.location-1 {
	height: 368px;
	width: 368px;
	border: 1px solid #9c9c9c;
	margin: 71px 28px 122px 0px;
	float: left;
}
.location-1:last-child {
	margin: 71px 0px 122px 0px;
}
.location i {
	display: block;
	margin: 48px auto 0px;
	width: 38px;
}
.location h4 {
	margin: 23px auto 23px;
	text-transform: uppercase;
	text-align: center;
	color: #212121;
	font-size: 22px;
	font-weight: 700;
	line-height: 16px;
}

.contacts {
	text-align: center;
	margin-bottom: 15px;
	line-height: 14px;
	color:  #212121;
	font-size: 14px;
	font-weight: 700;
}
.contacts h5 {
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 700;
}

.tab-control {
	text-transform: uppercase;
	list-style-type: none;
	margin-top: 71px;
	margin-left: 15px;
}
.tab-control li {
	float: left;
	border-bottom: 1px solid #6c6c6c;
	padding-bottom: 19px;	
} 
.tab-control a {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	padding: 0px 35px 16px 7px;
	letter-spacing: 1px;
}
.tab-control .active {
	border-bottom: 3px solid #212121;
	color: #212121;
}
.tab-control a:hover {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}
.tab-control a:active {
	color: #8c8c8c;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.products-box {
	padding: 0px 83px;
}
.products {
	margin-top: 50px;
	margin-bottom: 56px;
}
.products .block a img {
	float: left;
}
.products .block {
	float: left;
	margin: 15px;
	display: block;
	height: 370px;
	width: 370px;
	position: relative;
}
.products a .text {
	display: none;
	height: 368px;
	width: 368px;
	background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}
.products a .text h4 {
	color:  #212121;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.products a .text p {
	color:  #6c6c6c;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 15px 15px;
}
.products a .text img {
	float: none;
	margin-top: 80px;
}
.products a:hover .text{
	display: block;
}

.loading {
	text-align: center;
	margin-bottom: 140px;
}

.hero-white {
	background-color: #fff;
	height: 119px;
	padding-left: 98px;
	padding-right: 211px;
	position: relative;
}

.links {
	height: 70px;
	background-color: #f4f4f4;
	position: relative;
	padding-left: 360px;
}
.links-menu {
	margin:	27px auto 0px;	
	position: absolute;
}
.links-menu li {
	float: left;
	list-style-type: none;
	padding-right: 42px;
}
.links-menu li a {
	text-decoration: none;
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.links-menu .active {
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
}
.links-menu li a:hover {
	color:  #212121;
	font-size: 18px;
	font-weight: 700;
}
.links-menu li a:active {
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
}

.details-products {
	padding-left: 98px;
	padding-right: 98px;
	margin-top: 98px;
	height: 651px; 
}
.details-slider {
	width: 570px;
	float: left;
	margin-right: 30px;
}
.slider-product {
	width: 570px;
	height: 570px;
}
.slider-control {
	width: 420px;
	height: 70px;
	margin: 11px auto 0px;
	padding-left: 150px
}
.slider-control .block {
	height: 70px;
	width: 70px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.slider-control a .text {
	display: none;
	height: 70px;
	width: 70px;
	background-color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 0;    
}
.slider-control a:hover .text {
	display: block;
}

.description {
	width: 535px;
	float: right;
	padding-left: 35px
}
.description .big-bold {
	/*text-transform: capitalize;*/
	color:  #212121;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-top: 47px;
	margin-bottom: 0px;
}
.description .red {
	text-transform: uppercase;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	line-height: 17px;
	margin-top: 23px;
	margin-bottom: 36px;
}
.description .price {
	color:  #212121;
	font-size: 72px;
	font-weight: 300;
	line-height: 48px;
	text-align: center;
}
.description .price span {
	color:  #212121;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	text-align: center;
}

.red-button {
	display: block;
	height: 71px;
	width: 510px;
	border-radius: 35px;
	background-color: #f44336;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color:  #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	line-height: 70px;
	letter-spacing: 6px;
	margin-top: 31px;
}
.red-button:hover {
	box-shadow: none;
}
.red-button:active {
	box-shadow: none;
	background-color: #d41306;
}

.description-text {
	margin-top: 50px;
	color:  #212121;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
}
.description-text p {
	margin-bottom: 0.5em;
}

.related {
	padding: 0px 98px;
}
.related .title {
	height: 343px;
	margin-right: 0;
}
.related .title h2 {
	margin-top: 245px;
}
.related .title .explore {
	margin-top: 262px;
}
.related-products {
	margin-bottom: 120px;
}
.related-products .block a img {
	float: left;
}
.related-products .block {
	float: left;
	margin-right: 30px;
	display: block;
	height: 370px;
	width: 370px;
	position: relative;
}
.related-products .block:nth-child(3n) {
	margin-right: 0px;
}
.related-products a .text {
	display: none;
	height: 368px;
	width: 368px;
	background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}
.related-products a .text h4 {
	color:  #212121;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.related-products a .text p {
	color:  #6c6c6c;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 15px 15px;
}
.related-products a .text img {
	float: none;
	margin-top: 80px;
}
.related-products a:hover .text{
	display: block;
}