{% load i18n %}

<div class="location-1">
		<i class="fa fa-map-marker fa-5x"></i>
		<h4>{% trans "Москва" %}</h4>
		<div class="contacts">
			<h5>{% trans "Телефон" %}</h5>
			<p>+7-888-888-8888</p>
		</div>
		<div class="contacts">
			<h5>Email</h5>
			<p>info@geekshop.ru</p>
		</div>
		<div class="contacts">
			<h5>{% trans "Адрес" %}</h5>
			<p>{% trans "В пределах МКАД" %}</p>
		</div>
	</div>