{% load i18n %}

{% load staticfiles %}


<div class="block">
	<a href="#"><img src="{{product.image.url}}" alt="">
		<div class="text">
			<img src="{% static "img/icon-hover.png" %}" alt="img">
			<h4>{{product.title}}</h4>
			<p>{{product.description}}</p>
		</div>
	</a>
</div>