<div class="header clearfix">
        <a href="/index/" class="logo"></a>
        <ul class="menu">
            <li>
                <a href="{% url 'index' %}" class="{% if index %}active{% endif %}">
                    домой
                </a>
            </li>
            <li>
                <a href="{% url 'product' %}" class="{% if product %}active{% endif %}">
                    продукты
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="{% if contact %}active{% endif %}">
                    контакты
                </a>
            </li>
        </ul>
        <a href="#" class="search"></a>
</div>