{% extends "mainapp/base.html" %}

{% load i18n %}

{% block title %}
	{% trans "Контакты" %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="hero">
		{% include "mainapp/includes/inc_menu.html" %}
	</div>
		<h1>{% trans "наши контакты" %}</h1>
	</div>

<div class="location">
	{% include "mainapp/includes/inc_location.html" %}
	{% include "mainapp/includes/inc_location.html" %}
	{% include "mainapp/includes/inc_location.html" %}
</div>

<div class="clr"></div>

{% endblock %}