{% extends "mainapp/base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}
	 {% trans "Магазин" %}
{% endblock %}

{% block content %}
	

<div class="slider">
	{% include "mainapp/includes/inc_menu.html" %}
	<div class="text-slider">
		<h3 class="green">{% trans "тенденции" %}</h3>
		<h3 class="big"> {% trans "удобные стулья" %}</h3>
		<p>{% trans "Новый уровень комфорта. Отличные характеристики." %}</p>
		<a href="#" class="button-order">{% trans "заказать" %} <img src="{% static "/img/arrow.png" %}" alt=""></a>
	</div>
	<div class="navi">
		<a href="#"></a><a href="#"></a><a href="#"></a>
	</div>
</div>

<div class="featured">
	<div class="featured-menu">
			<a class="active" href="#">{% trans "Популярные" %}</a><a href="#">{% trans "Новинки" %}</a>
	</div>
	<a class="explore" href="#">{% trans "показать все" %}<img src="{% static "/img/arrow.png" %}" alt=""></a>
	<div class="clearfix">
	</div>
	<div class="tab-content">
		{% for product in object_list  %}

			{% if product.category.type == 1  %}

				{% include "mainapp/includes/inc_index_block.html" %}
				
			{% endif %}
				
		{% endfor %}
		
	</div>
</div>

<div class="clr"></div>

{% endblock %}