{% extends "mainapp/base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block title %}
	 {% trans "Каталог" %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="hero-white">
			{% include "mainapp/includes/inc_menu.html" %}
		</div>

		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
					<li><a href="#" class="active">{% trans "все" %}</a></li>
					<li><a href="#">{% trans "дом" %}</a></li>
					<li><a href="#">{% trans "офис" %}</a></li>
					<li><a href="#">{% trans "модерн" %}</a></li>
					<li><a href="#">{% trans "классика" %}</a></li>
				</ul>
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{% static "/img/slider1.jpg" %}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static "img/controll.jpg" %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static "img/controll1.jpg" %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static "img/controll2.jpg" %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{% trans "Отличный стул" %}</h3>
					<h3 class="red">{% trans "горячее предложение" %}</h3>
					<p class="price"> 2585.9 <span>{% trans "руб" %}</span></p>
					<a href="#" class="red-button">
						{% trans "заказать" %} <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{% trans "Расположитесь комфортно." %}</p>
						<p>{% trans "Отличное качество материалов позволит вам это." %}</p>
						<p>{% trans "Различные цвета" %}</p>
						<p>{% trans "высочайший уровень эргономики и прочность." %}</p>
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>{% trans "Похожие продукты" %}</h2>
					<a class="explore" href="#">{% trans "показать все" %} <img src="{% static "img/arrow.png" %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
					{% for product in object_list  %}
						{% if product.category.type != 1 %}
							{% include "mainapp/includes/inc_products_block.html" %}	
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="clr"></div>

{% endblock %}